<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Comments channel</title>
<link rel="stylesheet" href="/css/bundle/react-bootstrap.css" />
<link rel="stylesheet" href="/css/bundle/comments.css" />
</head>
<body>

	<div th:replace="fragments/header"></div>

	<div class="container">
		<div id="content"></div>
	</div>

	<div th:replace="fragments/footer"></div>

	<script src="/js/bundle/react-bootstrap.js"></script>
	<script src="/js/bundle/comments.js"></script>
	<script src="/js/jsx/app.js"></script>
	<script src="/js/jsx/app.render.js"></script>
</body>
</html>