<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Comments channel</title>
	<link rel="stylesheet" href="/css/vendors.css" />
	<link rel="stylesheet" href="/css/app.css" />
</head>
<body>

	<div th:replace="fragments/header"></div>

	<div class="container">
		<div id="content" th:utext="${markup}"></div>
	</div>

	<div th:replace="fragments/footer"></div>

	<script src="/js/vendors.bundle.js"></script>
	<script src="/js/app.bundle.js"></script>
	<script th:inline="javascript">
        var initialData = JSON.parse(/*[[${data}]]*/ '[]');
        renderClient(initialData);
	</script>
</body>
</html>